/.metadata/
*.war
target/**
*.class
*.class
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
target/classes/com/kaltia/kaltiaControl/aop/UserAOP.class
target/classes/com/kaltia/kaltiaControl/bean/ActionEntity.class
target/classes/com/kaltia/kaltiaControl/bean/EmpresaEntity.class
target/classes/com/kaltia/kaltiaControl/bean/RequestLoginVO.class
target/classes/com/kaltia/kaltiaControl/bean/UserEmpresaEntity.class
target/classes/com/kaltia/kaltiaControl/controller/ControllerInicial.class
target/classes/com/kaltia/kaltiaControl/repository/UserEmpresaDAOImpl.class
target/classes/com/kaltia/kaltiaControl/service/EmpresaManagerImpl.class
target/classes/com/kaltia/kaltiaControl/service/UserEmpresaManagerImpl.class
target/classes/com/kaltia/kaltiaControl/service/UserManagerImpl.class
target/classes/jdbc.properties
*.class
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
*.class
.classpath
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.jdt.core.prefs
.classpath
